
  p{
    font-family:Arial;
    margin-top: 0;
  }
  .video-title{
    font-size: 18px;
    font-weight: bold;
    width:280px;
    line-height: 24px;
    margin-bottom: 2px;
  }

  .video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 25px;
  }

  .video-author{
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 25px;
  }

  .video-description{
    color: rgb(96, 96, 96);
    font-size: 14px;
    width:280px;
    line-height: 20px;
    margin-bottom: 90px;
  }

  .apple-text{
    margin-bottom: 16px;
    
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color:white;
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right:16px;
    line-height: 21px;
    text-align: center;
  }

  .span-shopnow{
    cursor:pointer;
  }
  .span-shopnow:hover{
    text-decoration: underline;
  }
  
